/* TeachersSection.module.css */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 16px;
  direction: rtl;
  color: #334d41;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: var(--main-accent);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #707070;
  text-align: center;
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  max-width: 220px;
  min-width: 220px;
  text-align: center;
  font-weight: 400;
}

.imageWrapper {
  border-radius: 50%;
  border: 3px solid var(--main-accent);
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin: 0 auto 12px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-weight: 600;
  color: var(--main-accent);
  font-size: 17px;
  margin-bottom: 4px;
}

.role {
  font-weight: 400;
  color: #2d6a58;
  font-size: 13px;
  margin-bottom: 8px;
}

.description {
  font-weight: 300;
  font-size: 12px;
  color: #707070;
  line-height: 1.3;
  white-space: pre-line;
}
